@charset "utf-8";
// Import a Google Font
@import url('https://fonts.googleapis.com/css?family=Nunito:400,700');

$fa-font-path: "/assets/webfonts";

// Set your brand colors
$eggplant:rgb(197, 233, 229);
$teal: #53c0a5;
$purple: #8766ac;
$blue: #468ac9;
$light: #eeeeee;

// Update Bulma's global variables
$family-sans-serif: "Nunito", sans-serif;
$primary: $teal;
$dark: $eggplant;

// Update some of Bulma's component variables
$body-background-color: $dark;

label {
    display: block;
}

// Import only what you need from Bulma
@import "~bulma/bulma.sass";
@import "~@fortawesome/fontawesome-free/scss/fontawesome.scss";
@import "~@fortawesome/fontawesome-free/scss/brands.scss";
@import "~@fortawesome/fontawesome-free/scss/solid.scss";