//Colors
$primary:          #04B8A6;
$secondary:        #002A49;


//Type Stacks
$helvetica-stack:  'Helvetica', sans-serif;
$futura-stack: 'Futura', sans-serif; //not imported yet
$georgia-stack: 'Georgia', sans-serif;

//Grid
