@import "../styles/variables.scss";

.sample {
  min-height: 1000px;
  background-position: center 10%;
  background-repeat: no-repeat;
  background-size: 370%;
  color: white;
  position: relative;
  align-items: center;
  @media (min-width: 660px) {
    background-position: center top;
    background-size: 230%;
  }
}

.sample-content {
  margin: auto;
  @media (min-width: 600px) {
    margin: 160px auto;
  }
}

.h5 {
  margin-top: 16px;
  @media (min-width: 600px) {
    margin-top: 24px;
  }
}

.heading {
  margin-top: 256px !important;
  margin-bottom: 32px !important;
}

.container {
  margin-top: 8px;
  margin-bottom: 112px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo {
  margin-top: 400px;
  margin-bottom: 112px;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 309px;
}