.card {
  margin-bottom: 15px
}

.list {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  justify-content: space-between;
  margin-left: -20px
}

.link {
  text-decoration: none;
}